
    <div role="group" aria-labelledby="fridge-sect-spiritueux">
    <p class="fridge-section__title" id="fridge-sect-spiritueux">Spiritueux sans alcool</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-rhum">
        <input type="checkbox" id="fr-rhum" class="fridge-cb" value="rhum">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-rhum"></use></svg>
        <span class="fridge-item__name">Sober Rhum 0.0%</span>
      </label>
      <label class="fridge-item" for="fr-whisky">
        <input type="checkbox" id="fr-whisky" class="fridge-cb" value="whisky">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-whisky"></use></svg>
        <span class="fridge-item__name">Sober Whisky 0.0%</span>
      </label>
      <label class="fridge-item" for="fr-gin">
        <input type="checkbox" id="fr-gin" class="fridge-cb" value="gin">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-gin"></use></svg>
        <span class="fridge-item__name">Sober Gin 0.0%</span>
      </label>
      <label class="fridge-item" for="fr-amaretto">
        <input type="checkbox" id="fr-amaretto" class="fridge-cb" value="amaretto">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-amaretto"></use></svg>
        <span class="fridge-item__name">Sober Amaretto 0.0%</span>
      </label>
      <label class="fridge-item" for="fr-spritz">
        <input type="checkbox" id="fr-spritz" class="fridge-cb" value="spritz">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-spritz"></use></svg>
        <span class="fridge-item__name">Sober Spritz 0.0%</span>
      </label>
    </div>
    </div>

    <div role="group" aria-labelledby="fridge-sect-frais">
    <p class="fridge-section__title" id="fridge-sect-frais">Frais</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-menthe">
        <input type="checkbox" id="fr-menthe" class="fridge-cb" value="menthe">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-menthe"></use></svg>
        <span class="fridge-item__name">Menthe</span>
      </label>
      <label class="fridge-item" for="fr-citron-vert">
        <input type="checkbox" id="fr-citron-vert" class="fridge-cb" value="citron-vert">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-citron-vert"></use></svg>
        <span class="fridge-item__name">Citron vert</span>
      </label>
      <label class="fridge-item" for="fr-citron-jaune">
        <input type="checkbox" id="fr-citron-jaune" class="fridge-cb" value="citron-jaune">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-citron-jaune"></use></svg>
        <span class="fridge-item__name">Citron</span>
      </label>
      <label class="fridge-item" for="fr-basilic">
        <input type="checkbox" id="fr-basilic" class="fridge-cb" value="basilic">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-basilic"></use></svg>
        <span class="fridge-item__name">Basilic</span>
      </label>
    </div>
    </div>

    <div role="group" aria-labelledby="fridge-sect-jus">
    <p class="fridge-section__title" id="fridge-sect-jus">Jus &amp; fruits</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-ananas">
        <input type="checkbox" id="fr-ananas" class="fridge-cb" value="ananas">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-ananas"></use></svg>
        <span class="fridge-item__name">Ananas</span>
      </label>
      <label class="fridge-item" for="fr-framboise">
        <input type="checkbox" id="fr-framboise" class="fridge-cb" value="framboise">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-framboise"></use></svg>
        <span class="fridge-item__name">Framboise</span>
      </label>
      <label class="fridge-item" for="fr-mangue">
        <input type="checkbox" id="fr-mangue" class="fridge-cb" value="mangue">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-mangue"></use></svg>
        <span class="fridge-item__name">Mangue</span>
      </label>
      <label class="fridge-item" for="fr-passion">
        <input type="checkbox" id="fr-passion" class="fridge-cb" value="passion">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-passion"></use></svg>
        <span class="fridge-item__name">Passion</span>
      </label>
      <label class="fridge-item" for="fr-pomme">
        <input type="checkbox" id="fr-pomme" class="fridge-cb" value="pomme">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-pomme"></use></svg>
        <span class="fridge-item__name">Pomme</span>
      </label>
    </div>
    </div>

    <div role="group" aria-labelledby="fridge-sect-sirops">
    <p class="fridge-section__title" id="fridge-sect-sirops">Sirops</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-agave">
        <input type="checkbox" id="fr-agave" class="fridge-cb" value="agave">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-agave"></use></svg>
        <span class="fridge-item__name">Agave</span>
      </label>
      <label class="fridge-item" for="fr-orgeat">
        <input type="checkbox" id="fr-orgeat" class="fridge-cb" value="orgeat">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-orgeat"></use></svg>
        <span class="fridge-item__name">Orgeat</span>
      </label>
      <label class="fridge-item" for="fr-hibiscus">
        <input type="checkbox" id="fr-hibiscus" class="fridge-cb" value="hibiscus">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-hibiscus"></use></svg>
        <span class="fridge-item__name">Hibiscus</span>
      </label>
      <label class="fridge-item" for="fr-vanille">
        <input type="checkbox" id="fr-vanille" class="fridge-cb" value="vanille">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-vanille"></use></svg>
        <span class="fridge-item__name">Vanille</span>
      </label>
    </div>
    </div>

    <div role="group" aria-labelledby="fridge-sect-sodas">
    <p class="fridge-section__title" id="fridge-sect-sodas">Sodas</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-cola">
        <input type="checkbox" id="fr-cola" class="fridge-cb" value="cola">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-cola"></use></svg>
        <span class="fridge-item__name">Cola</span>
      </label>
      <label class="fridge-item" for="fr-gingembre">
        <input type="checkbox" id="fr-gingembre" class="fridge-cb" value="gingembre">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-gingembre"></use></svg>
        <span class="fridge-item__name">Gingembre</span>
      </label>
      <label class="fridge-item" for="fr-tonic">
        <input type="checkbox" id="fr-tonic" class="fridge-cb" value="tonic">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-tonic"></use></svg>
        <span class="fridge-item__name">Tonic</span>
      </label>
      <label class="fridge-item" for="fr-petillante">
        <input type="checkbox" id="fr-petillante" class="fridge-cb" value="petillante">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-petillante"></use></svg>
        <span class="fridge-item__name">Pétillante</span>
      </label>
    </div>
    </div>

    <div role="group" aria-labelledby="fridge-sect-autres">
    <p class="fridge-section__title" id="fridge-sect-autres">Autres</p>
    <div class="fridge-grid">
      <label class="fridge-item" for="fr-miel">
        <input type="checkbox" id="fr-miel" class="fridge-cb" value="miel">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-miel"></use></svg>
        <span class="fridge-item__name">Miel</span>
      </label>
      <label class="fridge-item" for="fr-oeuf">
        <input type="checkbox" id="fr-oeuf" class="fridge-cb" value="oeuf">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-oeuf"></use></svg>
        <span class="fridge-item__name">Blanc d'œuf</span>
      </label>
      <label class="fridge-item" for="fr-creme-coco">
        <input type="checkbox" id="fr-creme-coco" class="fridge-cb" value="creme-coco">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-creme-coco"></use></svg>
        <span class="fridge-item__name">Crème coco</span>
      </label>
      <label class="fridge-item" for="fr-cannelle">
        <input type="checkbox" id="fr-cannelle" class="fridge-cb" value="cannelle">
        <svg class="fridge-item__icon" aria-hidden="true"><use href="#fi-cannelle"></use></svg>
        <span class="fridge-item__name">Cannelle</span>
      </label>
    </div>
    </div>
